@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: Satoshi, sans-serif;
}

@theme {
  --font-display: "Inter", sans-serif;
  /* Add overrides if needed */
}

@layer components {
  .about_section {
    @apply bg-black text-white md:py-20;
  }

  .section {
    @apply bg-black text-white md:py-20;
  }

  .section_title {
    @apply text-4xl sm:text-5xl md:text-7xl lg:text-8xl font-bold;
  }

  .work_card{
    @apply flex justify-center p-20 md:p-10 rounded-2xl bg-white h-100;
  }

  .work_card_title{
    @apply flex justify-center items-center mt-3;
  }

  .work_card_status{
    @apply w-[10px] h-[10px] rounded-full;
  }
}

/* @layer components {
  .radial-top-right {
    @apply absolute top-0 right-0 w-[500px] h-[500px] pointer-events-none z-0;
    background: radial-gradient(
      circle at top right,
      rgba(127, 29, 29, 0.8),
      transparent 70%
    );
  }
} */
